.section.quote {
  display: block;
  .quote-text  {
    font-size: 1.2em;
    line-height: 1.3;
    color: var(--text-color);
    margin-top: 1em;
    svg {
      color: var(--primary-color);
      font-size: 1.3em;
      margin-right: .3em;
    }
  }
  .quote-author {
    color: var(--text-light);
    text-align: right;
  }
}