:root {
    --background-color: rgb(244, 239, 239);
    --background-light: #7b7878;
    --shadow-color: rgb(119, 24, 24);
    --primary-color: rgb(192, 166, 166);
    --text-color:rgb(0, 0, 0);
    --text-light: grey;
    --font-size: 16px;
    --animation-speed: 1;
}

@function getAnimationDuration($duration: number) {
    @return calc($duration * var(--animation-speed));
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: var(--font-size);
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

img {
    object-fit: cover;
}

.btn {
    border: none;
    outline: none;
    background-color: var(--primary-color);
    color: #fff;
    padding: .75em 1em;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 3px;
    box-shadow: 0 2px 6px var(--shadow-color);
    &:hover {
        box-shadow: 0 1px 3px var(--shadow-color);
    }
}

.custom-image {
    background-color: red;
    height: 0;
    width: 100%;
    position: relative;
    img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }
} 

@import "partials/navbar.scss";

.section {
    display: flex;
    align-items: center;
    margin-bottom: 3em;
    .title {
        color: var(--text-color);
        font-size: 2.5em;
        margin-bottom: .25em;
        font-weight: 900;
    }
    .info {
        color: var(--background-light);
        font-size: 1em;
        letter-spacing: 1px;
        line-height: 1.3em;
        margin-bottom: 1.25em;
    }
    .col {
        width: 50%;
    }
}

@import "partials/hero-section.scss";

.section.improve-skills {
    .col.img {
        img {
            width: 100%;
        }
    }
    .col.typography {
        padding-left: 1em;
        .skill-item {
            border-left: .2em solid var(--primary-color);
            margin-bottom: .5em;
            padding-left: .5em;
            padding: .1em 0 .1em .5em;
            color: var(--text-light);
            font-weight: bold;
            transform: translateX(100%);
            opacity: 0;
            animation: getAnimationDuration(.3s) slideInRight forwards;
            @for $i from 2 through 7 {
                &:nth-child(#{$i}) {
                    animation-delay: #{ $i * .1}s;
                }
            }
        }
        .btn {
            margin-top: .75em;
        }
    }
}

.main {
    padding-block: 3vw;
}

.container {
    padding-inline: 10vw;
}

@import "partials/animations.scss";
@media screen and (max-width: 768px) {
    .navbar{
        .nav-links {
            display: none;
        }
        .sidebar-btn {
            display: block;
        }
    }
}